/* Global Styles */
*{
    box-sizing: border-box;
    font-family: "Montserrat" , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root {
    --primary-color: rgb(35, 35, 35);
    --secondary-color: rgb(255, 166, 4);
    --text-color1: rgb(11, 4, 2);
    --text-color2: rgb(254, 254, 254);
    --background: rgb(234, 234, 234);
}

/* Hero Section */
.hero {
    position: relative;
    height: 100vh;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.hero_navBar{
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

a {
    color: var(--text-color2);
    text-decoration: none;
    margin: 1.5rem;
    transition: 0.5s;
}

a:hover {
    color: var(--secondary-color);
    transition: 0.5s;
    cursor: pointer;
}

.hero_background {
    object-fit: cover;
    object-position: center top;
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100vh;
    width: 100%;
}

.hero_foreground {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 2;
    gap: 1.5rem;
}

.hero_title {
    color: var(--text-color2);
    font-weight: normal;
    font-size: 3rem;
}

.hero_text {
    color: var(--text-color2);
    font-weight: normal;
}

.hero_button {
    background-color: var(--secondary-color);
    color: var(--text-color1);
    border: transparent;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.hero_button:hover {
    padding: 1.5rem 2.5rem;
    transition: 0.5s;
}

/* Menu Section */
.menu_title {
    text-align: center;
    font-size: 2rem;
    margin: 4rem 0 2rem 0;
}

.menu_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.menu_item {
    background-color: var(--background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    width: 25rem;
    text-align: left;
    height: 25rem;
}

.menu_img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.item_name {
    margin: 0 1rem 0.5rem 1rem;
}

.item_description {
    margin: 0 1rem 1rem 1rem;
}

/* About Us Section */
.about_us {
    position: relative;
    height: 50vh;
    margin-top: 5rem;
}

.about_us_img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    z-index: 0;
    filter: brightness(70%);
}

.about_us_content {
    position: relative;
    z-index: 1;
    color: var(--text-color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    gap: 3.5rem;
}

.about_us_title {
    font-size: 2.5rem;
}

.about_us_text {
    font-size: 1.2rem;
}

/* Contact Section */
.contact {
    text-align: center;
    margin-top: 5rem;
}

.contact_title {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    color: var(--text-color1);
}

.contact_text {
    font-size: 1.2rem;
    color: var(--text-color1);
    margin-bottom: 2.5rem;
}

.contact_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2.5rem;
}

.contact_item {
    font-size: 1rem;
    color: var(--text-color1);
    text-align: left;
}

.contact_email {
    color: var(--secondary-color);
    text-decoration: underline;
    position: relative;
    left: -1.1rem;
}
.contact_button {
    background-color: var(--secondary-color);
    color: var(--text-color1);
    border: transparent;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.5s;
}
.contact_button:hover {
    padding: 1rem 2rem;
    transition: 0.5s;
}

/* Footer */
.footer {
    margin-top: 5rem;
    background-color: var(--primary-color);
    text-align: center;
    padding: 2rem;
}

.footer_text {
    color: var(--secondary-color);
    font-size: 1rem;
}