*{
    box-sizing: border-box;
    font-family: "Montserrat" , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(35, 35, 35);
    --secondary-color: rgb(255, 166, 4);
    --text-color1: rgb(11, 4, 2);
    --text-color2: rgb(254, 254, 254);
    --background: rgb(234, 234, 234);
}

.hero {
    position: relative;
    height: 100vh;
}

.hero_navBar{
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

a {
    color: var(--text-color2);
    text-decoration: none;
    margin: 1.5rem;
}

a:hover {
    color: var(--secondary-color);
    transition: 0.5s;
    cursor: pointer;
}

.hero_background {
    object-fit: cover;
    object-position: center top;
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100vh;
    width: 100%;
}

.hero_foreground {
    position: relative;
    display: flex;
    bottom: 9rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 2;
    gap: 1.5rem;
}

.hero_title {
    color: var(--text-color2);
    font-weight: normal;
    font-size: 3rem;
}

.hero_text {
    color: var(--text-color2);
    font-weight: normal;
}

.hero_button {
    background-color: var(--secondary-color);
    color: var(--text-color1);
    border: transparent;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.hero_button:hover {
    padding: 1.5rem 2.5rem;
    transition: 0.5s;
}